<h1>Editer la categories</h1>




<%= form_for @category do |f| %>
   <div class="from-group">
<%= f.text_field :name, placeholder:'Nom', class: 'form-control' %> 
</div>
<div class="from-group">
<%= f.text_field :slug, placeholder:'url', class: 'form-control' %> 
</div>
<div class="from-group">
    <button class="btn btn-primary" type="submit">Modifier la Categorie</button>
</div>

<% end %>
