<h1>Les Categories</h1>

<table class="table table-striped">
<thead>
<tr>
    <td>ID</td>
    <td>NOM</td>
    <td>ACTIONS</td>
</tr>


</thead>
<tbody>
    <% @categories.each do |category| %>
    <tr>
        <td><%= category.id%></td>
        <td><%= category.name%></td>
        <td>
            <a href="<%= edit_category_path(category.id)%>" class="btn btn-primary btn-xs">Edité</a>
        </td>
    </tr>
    <% end %>
</tbody>
</table>


<p>
    <a href="<%= new_category_path %>" class="btn btn-success btn-xs">Cree une nouvelle categorie</a>
</p>